[Unit]
Description=Auto-connect zita-n2j to system playback
After=zita-n2j.service
Requires=zita-n2j.service

[Service]
Type=simple
ExecStart=/usr/local/bin/jack-autoconnect.sh
Restart=always
User=top

# Fix JACK warnings
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitNICE=-19

[Install]
WantedBy=multi-user.target