[Unit]
Description=AirPlay Receiver (via JACK)
After=jackd.service
Requires=jackd.service

[Service]
ExecStart=/usr/bin/shairport-sync -d -o jack
Restart=always
User=top

# Fix JACK warnings
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitNICE=-19

[Install]
WantedBy=multi-user.target
