[Unit]
Description=Sonobus Client
After=jackd.service
Requires=jackd.service

[Service]
ExecStart=/usr/local/bin/sonobus --headless --jack
Restart=always

User=top
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitNICE=-19

[Install]
WantedBy=multi-user.target
