[Unit]
Description=Spotify Connect (via JACK)
After=jackd.service
Requires=jackd.service

[Service]
EnvironmentFile=-/etc/raspotify/conf
ExecStart=/usr/bin/librespot
# --backend alsa --device plughw:Loopback,1,0
Restart=always

User=top

[Install]
WantedBy=multi-user.target

### Configurations

# Create 4b

# Make fake sound card and make permanent
# Create /etc/modprobe.d/alsa-base.conf and /etc/modules as in the repo.
# On reboot sounds cards should be permanent.

#/etc/modules
#snd-aloop

#/etc/modprobe.d/alsa-base.conf
#options snd-aloop index=1
#options snd_soc_pcm512x index=0

#/etc/asound.conf
#pcm.!default {
#    type hw
#    card 0
#    device 0
#}
#ctl.!default {
#    type hw
#    card 0
#}

# /etc/raspotify/conf
# LIBRESPOT_BACKEND=alsa
#LIBRESPOT_DEVICE=plughw:Loopback,0
# LIBRESPOT_NAME="Yamaha Speakers SC"



