[Unit]
Description=ALSA→JACK bridge for Raspotify
After=raspotify.service
Wants=raspotify.service

[Service]
Environment=JACK_NO_AUDIO_RESERVATION=1
ExecStart=/usr/bin/alsa_in -j raspotify -d plughw:Loopback,1,0 -c 2 -r 44100
Restart=always

User=top
LimitRTPRIO=infinity
LimitMEMLOCK=infinity
LimitNICE=-19

[Install]
WantedBy=multi-user.target